#divp {
	padding-left: 5%;
	padding-right: 5%;
}
#nom{
	padding: 5%;
	padding-left: 3%;
	text-align: left;
	line-height: 10%;
	color: #E7E7E7;
}

.a1 {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    border-bottom: 1px solid;
	border-top: 1px solid;
	border-color: #333;
	padding: 0px 16px;
}

.a1 a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.a1 a:hover {
	color: #e4741f;
}

#cont {
	color: white;
	padding: 65px 5%;
	background-color: #ccc;
	border: 1px solid;

	border-color: #333;
}
1
.carousel slide {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.cont {
   position: relative;
   padding-bottom: 56.25%;
   overflow: hidden;
}


.titulo_paginas {
font-size: 20;
}
