#divp {
	padding-left: 5%;
	padding-right: 5%;
}
#nom{
	padding: 5%;
	padding-left: 3%;
	text-align: left;
	line-height: 10%;
	color: #E7E7E7;
}

.a1 {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    border-bottom: 1px solid;
	border-top: 1px solid;
	border-color: #3E3E3E;
	padding: 0px 16px;
}

.a1 a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.a1 a:hover {
	color: #e4741f;
}

#cont {
	color: white;
	padding: 65px 5%;
	background-color: #1F1F1F;
	border: 1px solid;

	border-color: #333;
}

.carousel {
    top: 0;
    left: 50%;
    width: 50%;
    height: 50%;
}
.cuadro{
	border: 1px solid;
	border-color: black;
	background-color: #333;
	padding: 3%;
}

.titulo_paginas {
font-size: 20;
}
#Resume .fecha
{
	font-size: 12px;
	font-weight: bold;
}
.skill
{
	font-size: 1.2em;
	font-weight: bold;
}
.progress-bar {
	background-color: #E75807;
}
.div-fondo-color{
	background-color: #E0763A;
    border-radius: 2px;
	padding-left: 10px;
}
#resume{
	
}